{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}
{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}

        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.pseudo }} &nbsp;&nbsp;<a class="btn btn-secondary"
                                                                      href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% else %}

        <form method="post">
            <label for="inputPseudo">Pseudo</label>
            <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control"
                   placeholder="Votre pseudo" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   placeholder="Votre mot de passe"
                   required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
            <br>
            <button class="btn btn-secondary" type="submit">
                Connectez-vous
            </button>
            ou
            <span class="h4"><a class="btn btn-secondary"
                                href="{{ path('security_registration') }}">Créer votre compte</a></span>
        </form>
    {% endif %}
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <br>
{% endblock %}
