{% extends 'base.html.twig' %}
{% block title %}Nouveau mot de passe{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
    {% block content %}
        <p class="h4">Entrez votre nouveau mot de passe !</p><br/>
        {% if errors|length > 0 %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form_start(form) }}
        {{ form_row(form.password,{'label':'Mot de passe','attr': {'placeholder':'Votre mot de passe'}}) }}
        {{ form_row(form.confirm_password,{'label':'Confirmation mot de passe','attr': {'placeholder':'Répétez votre mot de passe'}}) }}
        <button type="submit" class="btn btn-secondary">Modifier</button>
        {{ form_end(form) }}
    {% endblock content %}
    </div>
{% endblock body %}

