{# afficher liste des chats#}
{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
    {% block content %}
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>Nom du chat</th>
                <th>Propriétaire</th>
                <th>Dates de réservation</th>
                <th>Prix du séjour</th>
            </tr>
            </thead>
            {% for cat in cats %}
                <tr>
                    <td>{{ cat.catName }}</td>
                    <td>{{ cat.user.pseudo }}</td>
                    <td>{% for booking in cat.bookings %}
                            {# @var booking \App\Entity\Booking #}
                            <p>Du {{ booking.startDate|date("d/m/Y") }} au {{ booking.exitDate|date("d/m/Y") }}</p>
                        {% endfor %}</td>
                    <td>
                        {% for booking in cat.bookings %}
                            <p> {{ booking.priceStay }} euros</p>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}

